<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro Cliente</h1>
    <form id="formCadastroCliente">
        <div class="formField">
            <div><label for="nomeCompleto">Nome Completo:</label></div>
            <input type="text" id="nomeCompleto" name="nomeCompleto" required placeholder="Nome Completo">
        </div>
        <div class="formField">
            <div><label for="emails">E-mails:</label></div>
            <input type="email" id="emails" name="emails" multiple placeholder="seu@mail.com">
        </div>
        <div class="formField">
            <div><label for="telefones">Telefones:</label></div>
            <input type="text" id="telefones" name="telefones" multiple placeholder="0000-0000">
        </div>
        <div class="formField">
            <div><label for="dataRegistro">Data Registro:</label></div>
            <input type="data" id="dataRegistro" name="dataRegistro" multiple placeholder="Dia/Mes/Ano">
        </div>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>